<p>create-new-employee works!</p>

<h1>Create an Account</h1>
<div>
  <label>Lastname: </label>
  <input type="text" id="lastName">
</div>
<br>
<div>
  <label>Firstname: </label>
  <input type="text" id="firstName">
</div>
<br>
<div>
  <label>Street: </label>
  <input type="text" id="street">
</div>
<br>
<div>
  <label>Postcode: </label>
  <input type="text" id="zip">
</div>
<br>
<div>
  <label>City: </label>
  <input type="text" id="city">
</div>
<br>
<div>
  <label>Phone: </label>
  <input type="text" id="phoneNumber">
</div>
<br>
<button (click)="createNewEmployee()">Confirm</button>
<button (click)="goToMainpage()">Cancel</button>



