<h1>Datenbank unserer Angestellten</h1>

<p>Fehlen die Datenbankeinträge?</p>
<p>Dann ist ihr Bearer-Token leider ungültig.</p>


<app-display-db></app-display-db>
<p>--------------------------------------------------------------------------------------------TEST--------------------------------------------------------------------------------------------</p>
<app-create-new-employee></app-create-new-employee>
<p>--------------------------------------------------------------------------------------------TEST--------------------------------------------------------------------------------------------</p>

<p>--------------------------------------------------------------------------------------------TEST--------------------------------------------------------------------------------------------</p>

