<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<h1>Database</h1>

<input type="text" value="search by ID" onclick=" if (this.value = 'searcha by ID'){ this.value = null}">
<button>LogOut</button>
<p>Here is the list of all our employee</p>

<table>
    <tr ng-repeat="x in employee">
        <input type="checkbox" id="{{ x.ID }}">
        <td>{{ x.ID }}</td>
        <td>{{ x.lastName }}</td>
        <td>{{ x.firstName }}</td>
        <td>{{ x.street }}</td>
        <td>{{ x.postcode }}</td>
        <td>{{ x.city }}</td>
        <td>{{ x.phone }}</td>
    </tr>
</table>

<button onclick="">Create</button>
<button disabled>Delete</button>
<button disabled>Update</button>
</body>
</html>