<ul>
  <li *ngFor="let e of employees$ | async">
    {{e.id}}, {{e.lastName }}, {{e.firstName}}, {{e.street}}, {{e.city}}, {{e.phone}}
  </li>
</ul>


<button (click)="goToNewEmployee()">Erstelle einen neuen Datenbankeintrag</button>

